body {
  background-color: #ddf3f5 ;"
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%
}
img {
  height: 130px
}
h1 {
  color: #66BFBF;
}
h3 {
  color: #5a3d55;
}
